{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {},
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}
